html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* HOW TO OVERRIDE BOOTSTRAP */
/* https://stackoverflow.com/questions/20721248/how-can-i-override-bootstrap-css-styles */
/* VARIABLES */
@media screen and (max-width: 992px) {
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 25px;
    padding-left: 25px;
  }
}

.mt-5, .my-5 {
  margin-top: 5rem !important;
}

/*** Mixins & Default Styles ***/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.4em;
  font-weight: 400;
  color: #344556;
  overflow-x: hidden;
  overflow-y: scroll;
}
@media screen and (max-width: 576px) {
  body {
    font-size: 14px;
  }
}

::selection {
  color: #fff;
  background-color: #5661f2;
}

::-moz-selection {
  color: #fff;
  background-color: #5661f2;
}

h1,
h2 {
  font-family: "Dancing Script";
  line-height: 1.2;
}
@media screen and (max-width: 767px) {
  h1,
h2 {
    font-size: 2.5em;
  }
}

h1 {
  font-size: 7em;
}

h2 {
  display: inline-block;
  font-size: 3em;
  margin-bottom: 0.75em;
}

h1.super-line::after,
h2.super-line::after {
  content: "";
  display: block;
  position: relative;
  width: 2em;
  height: 3px;
  margin-top: 0.75em;
  margin-bottom: 0.5em;
  border-radius: 2em;
  background-color: #ed4948;
}
h1.line-white::after,
h2.line-white::after {
  background-color: #ffffff;
}
h1.line-dark::after,
h2.line-dark::after {
  background-color: #414141;
}
h1.line-royal::after,
h2.line-royal::after {
  background-color: #5661f2;
}
h1.line-center::after,
h2.line-center::after {
  left: 50%;
  transform: translateX(-50%);
}

h3 {
  font-size: 1.4em;
  margin-top: 3em;
}

h2 + h3 {
  margin-top: 2em;
}

p {
  margin: 0;
  margin-top: 1.5em;
  opacity: 1;
  line-height: 1.4em;
  transform: translate(0);
  transition: all 300ms linear;
  transition-delay: 1700ms;
}
p.sub-headline {
  font-size: 1.3em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
p a {
  text-decoration: underline;
}

a {
  color: inherit;
}
a:hover {
  color: #ed4948;
}

p,
a,
span {
  opacity: 0.9;
}

strong {
  font-weight: bold;
}

.mt-6 {
  margin-top: 5em;
}

@media screen and (max-width: 992px) {
  .mobile-mt-2 {
    margin-top: 2em;
  }
}

@media screen and (min-width: 1379px) {
  .container {
    max-width: 1280px;
  }
}

.full-height {
  height: calc(100vh - 100px);
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: 40px;
  transform: translateY(-50%);
  z-index: 30;
}

/*** Header Styles ***/
header {
  display: flex;
  margin-bottom: 6em;
  /*** Navigation Styles ***/
  /*** Hero Section Styles ***/
}
header.header-full {
  width: 100vw;
  height: 50vh;
  background: url("../assets/img/_header-image.jpg");
  background-size: cover;
  background-position: center 80%;
  background-attachment: fixed;
  margin-bottom: 0;
}
header.header-full::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
header nav {
  width: 100vw;
  height: 100px;
  background: #ffffff;
  display: flex;
  position: fixed;
  z-index: 100;
  transition: all 0.3s;
  /*** Menu Styles ***/
}
header nav.navShadow {
  box-shadow: 0 4px 30px -5px rgba(0, 0, 0, 0.2);
  height: 75px;
}
header nav.navShadow + #hero-section {
  margin-top: 75px;
}
@media screen and (max-width: 992px) {
  header nav.navShadow #menu ul {
    top: 60px;
  }
}
header nav.navShadow.scrollToAppear {
  top: -75px;
}
header nav.navShadow.scrollToAppear + #hero-section {
  margin-top: 0;
}
header nav.navShadow #word-mark {
  opacity: 0;
}
header nav #brand,
header nav #menu,
header nav ul {
  display: flex;
  align-items: center;
}
header nav #menu {
  justify-content: flex-end;
  padding-right: 40px;
  margin-right: auto;
}
header nav #menu #menu-toggle {
  width: 55px;
  height: 55px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}
header nav #menu #menu-toggle .bar {
  width: 25px;
  height: 0.15em;
  background: #414141;
  transition: 0.3s ease-in-out;
}
header nav #menu #menu-toggle .bar:nth-child(2) {
  width: 1.25em;
  margin: 5px 0;
}
header nav #menu #menu-toggle .bar:last-child {
  width: 1em;
}
header nav #menu #menu-toggle:hover .bar {
  width: 25px;
}
header nav #menu #menu-toggle.closeMenu .bar {
  width: 25px;
}
header nav #menu #menu-toggle.closeMenu .bar:first-child {
  transform: translateY(5.5px) rotate(45deg);
}
header nav #menu #menu-toggle.closeMenu .bar:nth-child(2) {
  transform: scale(0);
}
header nav #menu #menu-toggle.closeMenu .bar:last-child {
  transform: translateY(-8px) rotate(-45deg);
}
@media screen and (max-width: 1079px) {
  header nav #menu #menu-toggle {
    display: flex;
  }
}
@media screen and (max-width: 992px) {
  header nav #menu #menu-toggle {
    transform: scale(0.8);
  }
}
header nav #menu ul li {
  margin-left: 0.8em;
}
header nav #menu ul li a {
  display: block;
  padding: 0.5em 0.5em;
  color: #414141;
  border-bottom: 2px solid transparent;
  transition: 0.2s ease-in-out;
}
header nav #menu ul li a.has-button {
  padding: 0;
  border: none;
}
@media screen and (max-width: 1079px) {
  header nav #menu ul li a.btn-outline {
    margin-top: 0.75em;
  }
}
header nav #menu ul li a.active, header nav #menu ul li a:hover, header nav #menu ul li a:active, header nav #menu ul li a:focus {
  text-decoration: none;
  border-bottom-color: #ed4948;
}
@media screen and (max-width: 1079px) {
  header nav #menu ul li a {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    margin: 0;
    padding: 1.5em 1em;
  }
}
header nav #menu ul li.active a, header nav #menu ul li:hover a, header nav #menu ul li:active a, header nav #menu ul li:focus a {
  text-decoration: none;
  border-bottom-color: #ed4948;
}
@media screen and (max-width: 1079px) {
  header nav #menu ul li {
    margin: 0;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s 0.1s;
  }
  header nav #menu ul li:first-child {
    margin-top: 2em;
  }
}
@media screen and (max-width: 1079px) {
  header nav #menu ul li:last-child {
    margin-top: 1.25em;
  }
}
@media screen and (max-width: 1079px) {
  header nav #menu ul {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 0;
    background: #f5f5ff;
    position: absolute;
    top: 100px;
    right: 0;
    transform: translate(, );
    transition: all 0.3s;
  }
  header nav #menu ul.showMenu {
    height: 100vh;
  }
  header nav #menu ul.showMenu li {
    opacity: 1;
    visibility: visible;
  }
}
@media screen and (max-width: 992px) {
  header nav #menu ul {
    top: 80px;
  }
}
@media screen and (max-width: 992px) {
  header nav #menu {
    padding-left: 20px;
  }
}
@media screen and (max-width: 992px) {
  header nav {
    height: 80px;
  }
  header nav.navShadow {
    height: 60px;
  }
}
header #hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  margin-top: 100px;
}
header #hero-section img.svg {
  filter: brightness(0) invert(1);
}
header #hero-section #head-line {
  color: white;
  margin-top: -2em;
}
@media screen and (max-width: 992px) {
  header #hero-section #head-line h1::after {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 992px) {
  header #hero-section #head-line {
    text-align: center;
  }
}
@media screen and (max-width: 992px) {
  header #hero-section {
    margin-top: 80px;
  }
}

footer,
section,
.section {
  position: relative;
  width: 100%;
  display: block;
  z-index: 10;
}
footer.bg-shade-1,
section.bg-shade-1,
.section.bg-shade-1 {
  background-color: #ffffff;
}
footer.bg-shade-2,
section.bg-shade-2,
.section.bg-shade-2 {
  background-color: #f5f5ff;
}
footer.bg-shade-3,
section.bg-shade-3,
.section.bg-shade-3 {
  background-color: #5661f2;
}
footer.bg-shade-3 ::selection,
section.bg-shade-3 ::selection,
.section.bg-shade-3 ::selection {
  color: #5661f2;
  background-color: #ffffff;
}
footer.bg-shade-3 ::-moz-selection,
section.bg-shade-3 ::-moz-selection,
.section.bg-shade-3 ::-moz-selection {
  color: #5661f2;
  background-color: #ffffff;
}
footer.bg-shade-0,
section.bg-shade-0,
.section.bg-shade-0 {
  background-color: #414141;
}
footer.bg-shade-0 h1,
footer.bg-shade-0 h2,
footer.bg-shade-0 h3,
footer.bg-shade-0 p,
footer.bg-shade-0 span, footer.bg-shade-3 h1,
footer.bg-shade-3 h2,
footer.bg-shade-3 h3,
footer.bg-shade-3 p,
footer.bg-shade-3 span,
section.bg-shade-0 h1,
section.bg-shade-0 h2,
section.bg-shade-0 h3,
section.bg-shade-0 p,
section.bg-shade-0 span,
section.bg-shade-3 h1,
section.bg-shade-3 h2,
section.bg-shade-3 h3,
section.bg-shade-3 p,
section.bg-shade-3 span,
.section.bg-shade-0 h1,
.section.bg-shade-0 h2,
.section.bg-shade-0 h3,
.section.bg-shade-0 p,
.section.bg-shade-0 span,
.section.bg-shade-3 h1,
.section.bg-shade-3 h2,
.section.bg-shade-3 h3,
.section.bg-shade-3 p,
.section.bg-shade-3 span {
  color: white;
  opacity: 1;
}
footer.has-background::before,
section.has-background::before,
.section.has-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url("../assets/img/schuheinlage.svg");
  background-position: center;
  background-size: 120%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.1;
  z-index: -1;
}
footer .container .row:nth-of-type(2),
section .container .row:nth-of-type(2),
.section .container .row:nth-of-type(2) {
  padding-top: 3rem;
}
@media screen and (max-width: 992px) {
  footer .mobile-center-content,
section .mobile-center-content,
.section .mobile-center-content {
    text-align: center;
  }
  footer .mobile-center-content .super-line::after,
section .mobile-center-content .super-line::after,
.section .mobile-center-content .super-line::after {
    left: 50%;
    transform: translateX(-50%);
  }
  footer .mobile-center-content .pre-wrapper,
section .mobile-center-content .pre-wrapper,
.section .mobile-center-content .pre-wrapper {
    margin-left: auto;
    margin-right: auto;
  }
}
footer .pre-wrapper,
section .pre-wrapper,
.section .pre-wrapper {
  display: flex;
  max-width: 20em;
  font-weight: bold;
}
footer .pre-wrapper .pre-right,
section .pre-wrapper .pre-right,
.section .pre-wrapper .pre-right {
  margin-left: auto;
}
footer .pre-wrapper:first-of-type,
section .pre-wrapper:first-of-type,
.section .pre-wrapper:first-of-type {
  margin-top: 1.5em;
}

footer {
  padding-top: 1em;
  padding-bottom: 6em;
}
footer #footer-top #footer-nav {
  margin-top: 1.5em;
}
footer #footer-top #footer-nav li {
  margin-bottom: 1em;
}
footer #footer-top #footer-nav li:last-child {
  margin-bottom: 0;
}
footer #footer-bottom {
  margin-top: 7em;
}
footer #footer-bottom #social-media-icons li {
  margin-right: 2em;
  font-size: 1.4em;
}
@media screen and (max-width: 992px) {
  footer #footer-bottom #social-media-icons li {
    margin-right: 0;
  }
}
@media screen and (max-width: 992px) {
  footer #footer-bottom #social-media-icons {
    justify-content: space-around;
  }
}
footer #footer-bottom #formal-stuff li:first-child {
  margin-right: auto;
}
footer #footer-bottom #formal-stuff li:not(:first-child) {
  margin-left: 1em;
}
@media screen and (max-width: 992px) {
  footer #footer-bottom #formal-stuff li:not(:first-child) {
    margin: 0.5em auto;
  }
}
@media screen and (max-width: 992px) {
  footer #footer-bottom #formal-stuff li {
    margin: 0.5em auto;
  }
}
@media screen and (max-width: 992px) {
  footer #footer-bottom #formal-stuff {
    flex-direction: column;
    margin-top: 3em;
  }
}
@media screen and (max-width: 992px) {
  footer #footer-bottom {
    margin-top: 4em;
  }
}
@media screen and (max-width: 992px) {
  footer {
    text-align: center;
  }
}

.image-wrapper {
  position: relative;
  overflow: hidden;
  max-height: 30em;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.image-wrapper img {
  height: 30em;
}
@media screen and (min-width: 768px) {
  .image-wrapper.low {
    height: 18.75em;
    max-height: 18.75em;
    margin-top: 11.25em;
  }
  .image-wrapper.low img {
    position: absolute;
    top: -50%;
    left: 0;
  }
}
.image-wrapper.image-small {
  transform: scale(0.7);
}

.flip-x {
  transform: scaleX(-1);
}

.flip-y {
  transform: scaleY(-1);
}

.btn-fill,
.btn-outline {
  padding: 12px 24px;
  border: 1px solid transparent;
  border-color: #414141;
  border-radius: 48px;
}
@media screen and (max-width: 576px) {
  .btn-fill,
.btn-outline {
    padding: 0.8em 1.5em;
  }
}

p + a > .btn-fill, p + a > .btn-outline {
  margin-top: 1.5em;
}

.btn-fill {
  color: #ffffff;
  background-color: #414141;
}
.btn-fill:hover {
  background-color: #464646;
}
.btn-fill.btn-pink {
  color: #ffffff;
  border-color: #ed4948;
  background-color: #ed4948;
}
.btn-fill.btn-pink:hover {
  background-color: #ec403f;
}
.btn-fill.btn-white {
  color: #414141;
  border-color: #ffffff;
  background-color: #ffffff;
}
.btn-fill.btn-white:hover {
  background-color: #fafafa;
}
.btn-fill.btn-royal {
  color: #ffffff;
  border-color: #5661f2;
  background-color: #5661f2;
}
.btn-fill.btn-royal:hover {
  background-color: #4d58f1;
}

.btn-outline {
  color: #414141;
  background-color: transparent;
}
.btn-outline:hover {
  color: #ffffff;
  background-color: #414141;
}
.btn-outline.btn-pink {
  color: #ed4948;
  border-color: #ed4948;
}
.btn-outline.btn-pink:hover {
  color: #ffffff;
  background-color: #ed4948;
}
.btn-outline.btn-white {
  color: #ffffff;
  border-color: #ffffff;
}
.btn-outline.btn-white:hover {
  color: #414141;
  background-color: #ffffff;
}
.btn-outline.btn-royal {
  color: #5661f2;
  border-color: #5661f2;
}
.btn-outline.btn-royal:hover {
  color: #ffffff;
  background-color: #5661f2;
}

.infosection {
  position: fixed;
  bottom: 3em;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  width: 66.6%;
  max-width: 675px;
  color: white;
  background: #ed4948;
  border-radius: 3em;
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 10px rgba(50, 50, 93, 0.51), 0 1px 3px rgba(0, 0, 0, 0.08);
  z-index: 100;
}
.infosection p {
  margin: 0;
  padding: 1em 2.5em;
  padding-right: 0;
  color: inherit;
  font-style: italic;
}
.infosection p a {
  color: inherit;
  text-decoration: underline;
}
.infosection p a:hover {
  opacity: 0.8;
}
@media screen and (max-width: 576px) {
  .infosection p {
    padding: 0.75em 1.5em;
    padding-right: 0;
  }
}
.infosection i {
  padding: 1em 2em;
  cursor: pointer;
}
@media screen and (max-width: 576px) {
  .infosection i {
    padding: 1em 1.5em;
  }
}
@media screen and (max-width: 576px) {
  .infosection {
    width: 90%;
    border-radius: 1em;
  }
}
@media screen and (max-width: 768px) {
  .infosection {
    width: 80%;
  }
}

.tile-sm {
  margin-top: 1.8em;
}
@media screen and (max-width: 1199px) {
  .tile-sm {
    margin-top: 3em;
  }
}

.tile-wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  max-width: 400px;
  height: 100%;
  margin: 0 auto;
  padding: 2.5em;
  border: 3px solid #f5f5ff;
  border-radius: 24px;
}
.tile-wrapper.highlight, .tile-wrapper:hover {
  color: #5661f2;
  border-color: #5661f2;
  text-decoration: none;
}
.tile-wrapper:focus {
  outline: 0;
  border-color: #5661f2;
  color: #5661f2;
}
.tile-wrapper h3 {
  font-size: 2em;
  font-weight: bold;
  margin-top: 1em;
  margin-left: auto;
  background: rgba(255, 255, 255, 0.8);
  padding: 0.25em;
  border-radius: 8px;
  z-index: 1;
}
.tile-wrapper img {
  position: absolute;
  top: 15%;
  left: 0;
  height: 100%;
}

.heart {
  width: 100px;
  height: 100px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
}
.heart.super-heart {
  position: absolute;
  top: -0.25em;
  margin: 0 -3em;
  transform: scale(0.4);
  display: inline-block;
}
@media screen and (min-width: 576px) {
  .heart.super-heart {
    top: 0.95em;
    margin: 0px -2em;
    transform: scale(0.6);
  }
}
@media screen and (min-width: 992px) {
  .heart.super-heart {
    top: -2.5em;
    margin: 0 -1.8em;
    transform: scale(0.7);
  }
}
.heart.is-active {
  transition-duration: 1s;
  background-position: -2800px 0;
}

.social-media-icon {
  padding: 0.5em;
  margin-top: -0.5em;
  margin-left: -0.5em;
  cursor: pointer;
}
.social-media-icon:hover {
  color: #5661f2;
}

section {
  padding: 6rem 0;
}
section.has-divider {
  padding: 0;
}
section.has-divider .container {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
section.has-divider .divider svg {
  position: relative;
  top: 1px;
  height: 6vw;
  background: 0 0 !important;
}

svg.bg-shade-0 * {
  fill: #414141;
}

svg.bg-shade-1 * {
  fill: #ffffff;
}

svg.bg-shade-2 * {
  fill: #f5f5ff;
}

svg.bg-shade-3 * {
  fill: #5661f2;
}

#leafletmap {
  height: 35em;
  min-width: 270px;
  width: 100%;
}

/*# sourceMappingURL=master.css.map */
