/*** Mixins & Default Styles ***/
@mixin object($width, $height, $bg) {
	width: $width;
	height: $height;
	background: $bg;
}
@mixin transPos($top, $right, $bottom, $left,$transX,$transY) {
	position: absolute;
	top: $top;
	left: $left;
	right: $right;
	bottom: $bottom;
	transform: translate($transX, $transY);
}
@mixin center {
	display: flex;
	justify-content: center;
	align-items: center;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.4em;
  font-weight: 400;
  color: #344556;

  overflow-x: hidden;
	overflow-y: scroll;

	@media screen and (max-width: $break-small) {
    font-size: 14px;
  }
}

::selection {
	color: #fff;
	background-color: $royal;
}
::-moz-selection {
	color: #fff;
	background-color: $royal;
}

h1,
h2 {
  font-family: 'Dancing Script';
  line-height: 1.2;

  @media screen and (max-width: $break-d) {
    font-size: 2.5em;
  }
}
h1 {
	font-size: 7em;
}
h2 {
  display: inline-block;
  font-size: 3em;
	margin-bottom: 0.75em;

  // @media screen and (max-width: $break-d) {
  //   font-size: 2em;
  // }
}

h1,
h2 {
	&.super-line::after {
    content: '';
    display: block;
    position: relative;
    width: 2em;
    height: 3px;
    margin-top: 0.75em;
    margin-bottom: 0.5em;
    border-radius: 2em;
    background-color: $pink;
  }
	&.line-white::after {
    background-color: $white-0;
  }
	&.line-dark::after {
    background-color: $dark-0;
  }
	&.line-royal::after {
    background-color: $royal;
  }
	&.line-center::after {
		left: 50%;
		transform: translateX(-50%);
	}
}

h3 {
	font-size: 1.4em;
	margin-top: 3em;
}

h2 + h3 {
	margin-top: 2em;
}

p {
  margin: 0;
	margin-top: 1.5em;
	opacity: 1;
	line-height: 1.4em;
	transform: translate(0);
  transition: all 300ms linear;
  transition-delay: 1700ms;

	&.sub-headline{
		font-size: 1.3em;
		margin-top: 1.5em;
		margin-bottom: 1.5em;
	}

	a {
		text-decoration: underline;
	}
}

a {
	color: inherit;

	&:hover {
		color: $pink;
	}
}

p,
a,
span {
	opacity: .9;
}

strong {
	font-weight: bold;
}

.mt-6 {
	margin-top: 5em;
}
.mobile-mt-2 {
	@media screen and (max-width: $break-large) {
		margin-top: 2em;
	}
}

.container {
	@media screen and (min-width: $break-a) {
		max-width: 1280px;
	}
}

.full-height {
    height: calc(100vh - 100px);
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: 40px;
  transform: translateY(-50%);
  z-index: $z-high;
}
