

/* HOW TO OVERRIDE BOOTSTRAP */
/* https://stackoverflow.com/questions/20721248/how-can-i-override-bootstrap-css-styles */

$white-0: #ffffff;
$white-1: #f5f5ff;

$dark-0: #414141;

$pink: #ed4948;
$aqua: #79edfc;
$royal: #5661f2;
$accent: $white-0;

$color-primary: $pink;
$color-secondary: $royal;

$color-text: $dark-0;
$header-bg: $color-secondary;
$nav-bg: $white-0;

$border-radius: 8px;

/* VARIABLES */
$navbar-height-default: 100px;
$navbar-height-scroll: 75px;
$navbar-height-default-sm: 80px;
$navbar-height-scroll-sm: 60px;

$break-a: 1379px;
$break-b: 1199px;
$break-c: 1079px;
$break-d: 767px;

// $break-extra-large: 1200px;
$break-large: 992px;
$break-medium: 768px;
$break-small: 576px;
